*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
    overflow-wrap: break-word;


}

li, p{
    overflow-wrap: break-word;
    hyphens: auto;

}

.page-wrapper  {
    margin: 0 auto;
}

/*index      */


#grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    /*justify-content: center;*/
    justify-items: center;
    padding: 50px;
}

.grid-container{
    border: 1px solid #9bdc9b;
    height-min: 100px;
    height-max: 150px;;
    width: 100%;
    border-radius: 10px;
    /*width: 400px;*/
overflow: hidden;

}


.user-div{
display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top:10px;
    height: 100%;
    justify-content: space-between;
}

#info-container{
    width: 100%;
    /*background: #9bdc9b;*/
    color: #9bdc9b;
    display: flex;
    /*gap:10px;*/
    padding: 10px;
    justify-content: space-between;
    flex-direction: row;
}


h1{
    text-align: center;
    font-size: 36px;
}


/* кнопки з index, user-datails*/

a, .details-btn, #user-posts-btn {
    all: unset;
    background: #9bdc9b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 5px;
    color: white;
    transition: 0.2s;

}

a:hover, .details-btn:hover, #user-posts-btn:hover {
    cursor: pointer;
    /*transform: scale(1.1)*/
    background: #6c9a6c;
}



/*user-dateils інше все*/

h2{
    font-size: 22px;
    text-align: center;
}

.modal{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    /*position: relative;*/
    background: #fff;
    display: grid;
    justify-items: center;
    /*align-content: center;*/
    overflow-y: auto;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
}



.modal-content::-webkit-scrollbar {
     height: 10px;

}


.modal-content::-webkit-scrollbar-thumb {
    background-color: #9bdc9b;
    border-radius: 5px;
}

.post-title-and-btn{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 10rem;
    overflow: hidden;
    border: 1px solid #9bdc9b;
    border-radius: 10px;


}
.close{
    height: 30px;
    position: absolute;
    right:0;
    top: 0;
    padding: 5px;
    border-radius: 50px;
    transition: 0.2s;
}

.close:hover{
    background: #f7fff7;

}

.closeDiv{
    position: sticky;
    top: 0;
    right: 0;
    height: 35px;
    background: #9bdc9b;
    padding: 5px;

}
.hidden{
    display: none;
}

.modalDivWrapper{
    border-radius: 10px;
    border: 3px solid #9bdc9b;
    background: #ffffff;
    max-height: 85vh;
    width: 90%;
}




.info-name-span, .posts-span{
    background-color: #9bdc9b;
    border-radius: 10px;
    color: white;
    padding: 5px;
    /*margin-right: 10px;*/
}

#user-posts-btn{
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.post-title{
    padding: 5px;
}

.column-name{
    color: white;
    display: inline-block;
    background: #9bdc9b;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.info-column-inline-block{
    display: inline-block;
}

ul{
    /*margin-left: 20px;*/
    list-style-type: none;
}

.inside-li-span{
    text-decoration: underline;
    text-decoration-color: #9bdc9b;
}

#all-user-info-div{
    display: flex;
    flex-direction: column;
        padding: 30px;


}

#btn-div{
    display: flex;
    justify-content: center
}

/*______________________________ppost*/

#post-a{
    margin-top: 20px;
    width:150px;
    border-radius: 10px;
    height: 30px;

}

#post-body{
    text-align: center;
    width: 100%;
    background: #9bdc9b;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 0;
}

.comment-list-item{
    margin-top: 20px;
}

.comment-wrapper{
    border-radius: 10px;
    border: 1px solid #9bdc9b;
    padding: 10px;
}


#userId-postId-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#post-div{
    margin-left: 20px;
}

.posts-span{
    display: inline-block;
}
.postInfoId{
    display:inline-block;
}

h2{
    margin: 20px;
}

#comments-div{
  margin: 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 25%);

}

.posts-span{
    margin-right: 10px;
}

